<div class="panel panel-default" style="margin: 0; padding: 0">
  <div class="container jumbotron" style="margin-top: 20px; background-color: #0b2e34; border: #0b2e13; border-radius: 15px; border-style: solid; padding: 2px">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
      <a class="navbar-brand" routerLink="/company"><img alt="Brand" src="https://www.pressrelease.com/files/79/33/852602ad809558ee27005d7df4c8.jpg" height="60" width="200" ></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"  >
        <ul class="navbar-nav" >
          <li class="nav-item ">
            <a class="nav-link" style="color: #34ce57; border-color: #0b2e13; margin-left: 20px; border-width: 1px; border-style: solid;  border-radius: 10px" routerLink="/latestblock">View Latest Block </a>

          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #34ce57; border-color: #0b2e13; border-width: 1px; border-style: solid;  margin-left: 20px;border-radius: 10px " routerLink="/singleblock">View Single Block </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #34ce57; border-color: #0b2e13;margin-left: 20px; border-width: 1px; border-style: solid;  border-radius: 10px" routerLink="/viewtransaction">View Single transaction </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #005cbf; border-color: #0b2e13;margin-left: 20px; border-width: 1px; border-style: solid;  border-radius: 10px" routerLink="/company">Contact Us </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div style="display: grid; height: 100%;"><img src="https://www.housingwire.com/ext/resources/images/editorial/A-New-Big-Images/technology/tech_two.jpg?1470759677" style="max-width: 100%;
   max-height: 100vh;margin: auto;" alt=""></div>

  <footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="http://chainyard.com"> chainyard.com</a>
  </div>

  </footer>
<!--<video width="100%" height="350" controls>-->

  <!--<source src="./../../movie.mp4" type="mp4">-->
<!--</video>-->
<router-outlet></router-outlet>

