<div class="panel panel-default" style="margin: 0; padding: 0">
    <div class=" " style="margin-top: 0px; background-color: #415ebf; border: #0b2e13; border-radius: 15px; border-style: solid; padding: 2px">
    <nav class="navbar navbar-expand-md navbar-light" >
      <div style=" border: red; border-style: solid; border-radius: 40px; padding-left: 20px; bor">
        <a class="navbar-brand" routerLink="/"><img alt="Brand" src="https://www.pressrelease.com/files/79/33/852602ad809558ee27005d7df4c8.jpg" height="40" width="200" ></a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"  >
        <ul class="navbar-nav" >
          <li class="nav-item ">
            <a class="nav-link" style="color: #3dce10; font-family: 'Comic Sans MS';  font-size: x-large;  margin-left: 10px " routerLink="/latestblock">Latest Block </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #3dce10; font-family: 'Comic Sans MS'; font-size: x-large; margin-left: 10px" routerLink="/rawblock">Single Block </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #3dce10; font-family: 'Comic Sans MS'; font-size: x-large; margin-left: 10px" routerLink="/viewtransaction">Single transaction </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #bf0f27; font-family: 'Comic Sans MS'; font-size: x-large; margin-left: 10px" routerLink="/company">Contact Us </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<router-outlet></router-outlet>

