
<div class="jumbotron" style="padding: 10px; margin: 40px">
  <table class="table" style="background-color: lightyellow">
    <thead class="thead-dark" style="margin-right: 100%">
    <tr>
      <th>Entity</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Hash</td>
      <td>{{hash}}</td>
    </tr>
    <tr>
      <td>Time</td>
      <td>{{time}}</td>
    </tr>
    <tr>
      <td>Block_index</td>
      <td>{{block_index}}</td>
    </tr>
    <tr>
      <td>Height</td>
      <td>{{height}}</td>
    </tr>
    <tr>
      <td > Transaction</td>
      <td><span style=" word-wrap:break-word;display:block; width: 750px;">{{txIndexes}}</span></td>
    </tr>
    </tbody>
  </table>

</div>
