
<div class="jumbotron" style="padding: 10px; margin: 40px">
  <table class="table" style="background-color: lightyellow">
    <thead class="thead-dark" style="margin-right: 100%">
    <tr>
      <th>Entity</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Hash</td>
      <td>{{hash}}</td>
    </tr>
    <tr>
      <td>Ver</td>
      <td>{{ver}}</td>
    </tr>
    <tr>
      <td>Vin_sz</td>
      <td>{{vin_sz}}</td>
    </tr>
    <tr>
      <td>Vout_sz</td>
      <td>{{vout_sz}}</td>
    </tr>
    <tr>
      <td > Lock_time</td>
      <td>{{lock_time}}</td>
    </tr>
    <tr>
      <td>Size</td>
      <td>{{size}}</td>
    </tr>
    <tr>
      <td>Relayed_by</td>
      <td>{{relayed_by}}</td>
    </tr>
    <tr>
      <td>Block_height</td>
      <td>{{block_height}}</td>
    </tr>
    <tr>
      <td>Tx_index</td>
      <td>{{tx_index}}</td>
    </tr>
    <tr>
      <td > Inputs</td>
      <td>{{inputs}}</td>
    </tr>
    <tr>
      <td>Out</td>
      <td> {{out}}</td>
    </tr>
    </tbody>
  </table>

</div>
